<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/CCPlayTv" version="0.2.1" viewmodes="maximized">
   <name>CCPlayTv</name>
   <icon src="icon.png"></icon>
   <content src="index.html"></content>
   <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"></feature>
   <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"></tizen:setting>
   <tizen:application id="8tZqMtwANL.CCPlayTv" package="8tZqMtwANL" required_version="2.3"></tizen:application>
   <tizen:privilege name="http://tizen.org/privilege/application.launch"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/internet"></tizen:privilege>
   <!-- Tecla amarela como atalho de favoritar (feature 013) — sem este
        privilégio, tizen.tvinputdevice.registerKey() não entrega o evento
        da tecla ao app. Só esta tecla é registrada (tizenColorKey.ts),
        nunca as quatro cores indiscriminadamente (backlog item 44). -->
   <tizen:privilege name="http://tizen.org/privilege/tvinputdevice"></tizen:privilege>
   <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"></tizen:metadata>
   <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="extensive"></tizen:metadata>
   <tizen:profile name="tv-samsung"></tizen:profile>
   <access origin="*" subdomains="true"></access>
</widget>